*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    /* border: 3px solid black; */

}

main {
    display: flex;
flex-direction: column;
width: 55%;
height: 100%;
align-items: center;
justify-content: center;
margin: 0px auto;
/* padding: 20px 103px; */
/* border: 3px solid red; */
}

.logo {
    /* border: 3px solid blue;  */
/* height: 120px; */
max-width: 100%;
width: 415px;
margin: 40px auto;
}

.logo img {
    width: 100%;
    height: 100%;

}

#sear {
    /* border: 3px solid yellow; */
    height: 55px;
    width: 100%;
    min-width: 250px;
    position: relative;
}

.searchbox input[type=search] {
    height: 100%;
    width: 100%;
   
    border-radius: 5px;
    /* padding:25% auto; */
}
.head{
    margin: 21px 0px;
}

#sear::before {
    content: url("../Images/search.svg");
    height: 100%;
    z-index: 779;
    opacity: 1;
    bottom: -7px;

    right: 6px;

    position: absolute;
}
.searchbox input[type=search]:placeholder-shown {
    padding-left: 5px;
    font-weight: 600;
    width: 100%;
    display: flex;
    font-size: 12px;
    /* width:auto; */

    /* border:3px solid red; */
    font-family: 'Open Sans', sans-serif;
    font-family: "Arial", "FontAwesome";

}
#sear input::-webkit-search-cancel-button {
    position: relative;
    right: 5px;
    font-size: 30px;
    z-index: 999;
    background: white;
    height: 100%;
}

#sear:focus-within::before {
    opacity: 0.1;
    z-index: 777;

}

.doclinks {
    width: 100%;
flex-wrap: wrap;
display: flex;
gap: 6px 8px;
font-size: 15px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;


}

.logo {
    max-width: 100%;
    width: 415px;
    min-width: 50px;
    margin: 40px auto;
}

.logo img {
    width: 100%;
    height: 100%
}

form {
    /* border: 3px solid black; */
    width: 80%;
    overflow-x: hidden;
    margin: 10px 40px;


}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 71px 70px 140px 422px 257px 422px 254px 422px 249px 1fr; */
    grid-template-rows:  71px 70px 140px  257px  254px  249px 1fr;

    gap: 21px 40px;
    grid-auto-flow: row;
    grid-template-areas:
        /* "upload_Pro upload_Pro" */
        "Name Department"
        "Working Education"
        "Description ."
        /* "upload_early_life upload_early_life " */
        "Educational-Life Educational-Life"
        /* "upload_education upload_education" */
        "Career Career"
        /* "upload_career upload_career" */
        "Awards Awards"
        /* "upload_awards upload_awards" */
        "Aboutu Aboutu";
}

.container>div {
    /* padding:50px; */
    display: flex;
    flex-direction: column;
    /* border:4px solid red; */
}

input,
select {
    height: 100%;

}

input[name="Facilties"] {
    height: 100%;
}

label {
    padding: 5px 0px;
    color: #393939;
    font-weight: 600;
}

textarea {
    height: 200px;
    max-width: 100%;
}

#upload_early_life,
#upload_education,
#upload_career,
#upload_awards,
#upload_Pro {

    height: 100%;
}

#upload_early_life input,
#upload_education input,
#upload_career input,
#upload_awards input,
#upload_Pro input {
    height: 25px;
}

#upload_early_life label,
#upload_education label,
#upload_career label,
#upload_awards label,
#upload_Pro label {
    align-self: center;
}

label,
h2 {
    font-family: 'Open Sans', sans-serif;
}

.Name {


    grid-area: Name;
}

.Department {
    grid-area: Department;
}

.Working {
    grid-area: Working;
}

.Education {
    grid-area: Education;
}

.Educational-Life {
    grid-area: Educational-Life;
}

.Description {
    grid-area: Description;
}

.Career {
    grid-area: Career;
}

.Awards {
    grid-area: Awards;
}

.Aboutu {
    grid-area: Aboutu;
}

#upload_early_life {
    grid-area: upload_early_life;
    align-items: center;
}

#upload_education {
    grid-area: upload_education;
    align-items: center;
}

#upload_career {
    grid-area: upload_career;
    align-items: center;
}

#upload_awards {
    grid-area: upload_awards;
    align-items: center;
}

#upload_Pro {
    grid-area: upload_Pro;
}

button {
    padding: 20px;
    background: #5F85BF;
    color: white;
    margin: 20px auto;
}

input:placeholder-shown {
    padding: 0px 5px;
}

textarea:placeholder-shown {
    padding: 20px 10px;
    font-family: 'Open Sans', sans-serif;

}

.Name {
    position: relative;
}

#Val {
    position: absolute;
    right: 4px;
    bottom: 4px;
}

/* input:valid,
textarea:valid {
    background: url("Images/Val.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px;
} */

textarea:valid {
    background-position: top right;
}

#upload_early_life,
#upload_education,
#upload_career,
#upload_awards,
#upload_Pro {
    display: flex;
    flex-direction: row;
}

.uploaded {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding:100px; */
    /* border: 3px solid black; */
}

.conty {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img {
    height: 100%;
    width: 100%;
}

.mySlides {
    height: 223px;
    margin: 0 auto;
    /* /* width: 100px; */
}

.mySlides img {
    object-fit: contain;
}


.column {
    height: 80px;
}

#buty {
    background: cadetblue;
    height: 44px;
    width: 102px;
    padding: 10px 0px;
    text-align: center;
    cursor: pointer;
}

#buty:active {
    opacity: 0.7;
}

#upload_pro {
    gap: 100px;
}

.uploaded p {
    height: 200px;
}

.concont {
    margin-top: 50px;
}

.logo img {
    /* padding:0px 20px; */
}

.field {

    /* border:3px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 200px 200px;
    ;
    gap: 21px 40px;
    grid-auto-flow: row;
    grid-template-areas:
        "connum conmail"
        "conpermad conpermad"
        "conhosad conhosad"
}

.uploaded input {
    margin-top: 12px;
}

#connum {
    grid-area: connum
}

#conmail {
    grid-area: conmail
}

#conpermad {
    grid-area: conpermad
}

#conhosad {
    grid-area: conhosad
}

.field>div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ijk,
.ijk2,
.ijk3,
.ijk4 {
    display: flex;
    min-width: 50px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

#uip {
    display: flex;
    align-items: center;
}

.ijk p,
.ijk2 p,
.ijk3 p,
.ijk4 p {
    height: 181px;
    width: 166px;
}

@media(max-width:600px) {
    #upload_early_life .uploaded {
        flex-direction: column;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr; */
        gap: 12px;
        grid-auto-flow: row;
        grid-template-rows: minmax(49px, 80px);
        grid-template-areas:
            /* "upload_Pro" */
            "Name "
            "Department"
            "Working "
            "Education"
            "Description "
            /* "upload_early_life" */
            "Educational-Life"
            /* "upload_education" */
            "Career"
            /* "upload_career" */
            "Awards "
            /* "upload_awards" */
            "Aboutu ";
    }

    #upload_pro {
        justify-content: space-between;
        align-items: self-start;
    }

    .field {

        /* border:3px solid black; */
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 70px 200px 200px;; */
        gap: 21px 40px;
        /* grid-auto-flow: row;
 */
        grid-template-rows: minmax(49px, 80px);
        grid-template-areas:
            "connum "
            "conmail"
            "conpermad "
            "conhosad "
    }

    .logo {
        max-width: 85%;
    }

    .conty {
        position: relative;
        width: 100%;
        /* border: 3px solid red; */
        height: 100%;
        margin: 0 auto;
    }

    .mySlides {
        height: 210px;
        margin: 0 auto;
    }

    #buty {
        margin: 10px 0px;
    }

    #subs,
    #dubs,
    input {
        height: 50px;
    }

    #uip,
    .uip,
    #upload_early_life,
    #upload_education,
    #upload_career,
    #upload_awards,
    #upload_Pro {
        flex-direction: column !important;
    }

    .Name {
        height: 90px;
        margin-bottom: 5px;
    }

    form {
        margin: 5px 0px;
        width: 100%;
        padding: 0px 8px;
    }

    .ijk,
    .ijk2,
    .ijk3,
    .ijk4 {
        display: flex;
        min-width: 50px;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

}